{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
    {% for projectabout in projectsabout %}
        <!-- Proyecto -->
        <div class="row">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid avatar" src="{{projectabout.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8 text-justify">
                <h2 class="section-heading">{{projectabout.title}}</h2>   
                <p>{{projectabout.description}}</p>
            <!--<p><a href="http://google.com">Más información</a></p>-->
            </div>
        </div>
    {% endfor %}
{% endblock %}