{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>C#.NET - VB.NET - T-SQL - WCF - XML - JSON - LINQ - .NetFramework - Xamarin - Python/Django </p>
        <br>
        <p><b>Email: </b>developerabelcastillo@gmail.com</p>
        <p><b>Honorarios:</b> 16 USD/h (precio base)</p>
    </div>
</div>
{% endblock %}