{% extends 'core/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Proyectos</span>
{% endblock %}

{% block content %}
    {% for projectportfolio in projectsportfolio %}
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{projectportfolio.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8 text-justify">
                    <h2 class="section-heading title">{{projectportfolio.title}}</h2>   
                <p>{{projectportfolio.description}}</p>
                <p>Inicio de Proyecto: {{projectportfolio.startproject}}</p>
                <p>Fin de Proyecto: 
                    {% if projectportfolio.exitproject == null %}
                        En proceso
                    {% else %}
                        {{projectportfolio.exitproject}}
                    {% endif %}
                </p>
                <p>{% if projectportfolio.urlproject != null and projectportfolio != "" %}
                        <a href="{{projectportfolio.urlproject}}" target="_blank">Ir a Proyecto...</a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}