{% extends 'core/base.html' %}

{% block title %}Trayectoria{% endblock %}

{% block background %}{% load static %}{% static 'core/img/trayectoria.jpg' %}{% endblock %}

{% block headers %}
<h1>Trayectoria</h1>
<span class="subheading">Laboral</span>
{% endblock %}

{% block content %}
    {% for projecttrayectoria in projectstrayectoria %}
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{projecttrayectoria.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{projecttrayectoria.title}}</h2>   
            <p>{{projecttrayectoria.description}}</p>
            <p>Ingreso: {{projecttrayectoria.startOfEmployment}}</p>
            <p>Salida: 
                {% if projecttrayectoria.exitOfEmployment != null and projecttrayectoria.exitOfEmployment != "" %}
                    {{projecttrayectoria.exitOfEmployment}}
                {% else %}
                    Actualidad
                {% endif %}
            </p>
            <p><a href="{{projecttrayectoria.urlimage}}" target="_blank">Ir a Empresa...</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}